*.pyc
*.db
bin/*
include/*
lib/*
logs/*
media/*
.vagrant/*
.*.swp
.idea/*
.env
.DS_Store
static/admin/*
static/django_extensions/*
static/debug_toolbar/*
static/celery/*
static/djcelery/*
*.jasper
Vagrantfile
deploy/
logs/*
.python-version
__pycache__

# SonarQube
.scannerwork/*
